@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* Weights: 400, 700, 800 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    font-family: "Inter", sans-serif;
    width: 1100px;
    height: 800px;

}
header{
    margin-top: 30px;
    height: 90px;
    justify-content: space-between;
    display: flex;
    margin-left: 20px;
}
.menu{
    color: hsl(240, 1%, 23%);
    margin-right: 50px;
    font-weight: 300;
    display: flex;
    gap: 2rem;
    margin-left: 0;
}
.bigbox{
    display: grid;
    grid-template-columns: repeat(3,330px);
    grid-template-rows: repeat(2,270px);
    column-gap: 20px;
    margin-left: 30px;
}
.box1 img{
    width: auto;
    height: 270px;
}
.box1{
    grid-column: span 2;
    margin-right: 50px;
}
.box2{
    grid-row: span 2;
    background-color:  hsl(240, 100%, 5%);
    color: white;
    padding: 20px;
}
.box2 h1{
    color:  hsl(35, 77%, 62%);
    margin-bottom: 25px;
}
.box2 h2{
    font-size: 18px;
    margin-bottom: 13px;
}
.box2 p{
    font-size: 15px;
}
hr{
    margin-top: 20px;
    margin-bottom:50px ;
    opacity: 0.5;
}
.box3{
    margin-top: 20px;
    color: black;
    font-size: 25px;
    width: 80%;
    text-align: center;
}
.box4{
   place-items: center;
   margin: 20px;
}
button{
    margin-top: 10px;
    border: none;
    width: 170px;
    background-color:hsl(5, 85%, 63%);
    height: 43px;
    font-weight: 700;
    font-size: 20px;
}
.minibox{
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
}
.min{
    display: flex;
    font-size: 14px;
    
}
.text{
    font-size: 12px;
    margin-left: 20px;
    width:60%;
}
.min h1{
    color: hsl(5, 85%, 63%);
}
.min img{
    width: 100px;
    height: 100px;
}
